In [13]:
# Import pandas
import pandas as pd

# Load dataset
cc_apps = pd.read_csv('C:\\Users\\Dell\\Desktop\\ML PROJECT\\Dataset4.csv' , header = None)

# Inspect data
cc_apps.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,Gender,Age,Debt,Married,Bank Customer,Education Level,Ethnicity,Years Employed,Prior Default,Employed,Credit Score,DL,Citizen,Zipcode,Income,Class
1,b,30.83,0,u,g,w,v,1.25,t,t,1,f,g,202,0,+
2,a,58.67,4.46,u,g,q,h,3.04,t,t,6,f,g,43,560,+
3,a,24.5,0.5,u,g,q,h,1.5,t,f,0,f,g,280,824,+
4,b,27.83,1.54,u,g,w,v,3.75,t,t,5,t,g,100,3,+

In [14]:
# Print summary statistics
cc_apps_description = cc_apps.describe()
print(cc_apps_description)

print("\n")

# Print DataFrame information
cc_apps_info = cc_apps.info()
print(cc_apps_info)

print("\n")

# Inspect missing values in the dataset
cc_apps.tail(17)

         0    1    2    3    4    5    6    7    8    9    10   11   12   13  \
count   691  691  691  691  691  691  691  691  691  691  691  691  691  691
unique    4  351  216    5    5   16   11  133    3    3   24    3    4  172
top       b    ?  1.5    u    g    c    v    0    t    f    0    f    g    0
freq    468   12   21  519  519  137  399   70  361  395  395  374  625  132

         14   15
count   691  691
unique  241    3
top       0    -
freq    295  383


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 691 entries, 0 to 690
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       691 non-null    object
 1   1       691 non-null    object
 2   2       691 non-null    object
 3   3       691 non-null    object
 4   4       691 non-null    object
 5   5       691 non-null    object
 6   6       691 non-null    object
 7   7       691 non-null    object
 8   8       691 non-null    object
 9   9       691 non-null    object
 10  10      691 non-null    object
 11  11      691 non-null    object
 12  12      691 non-null    object
 13  13      691 non-null    object
 14  14      691 non-null    object
 15  15      691 non-null    object
dtypes: object(16)
memory usage: 86.5+ KB
None

    0      1       2  3  4   5   6      7  8  9   10 11 12   13   14 15
674  ?   29.5       2  y  p   e   h      2  f  f   0  f  g  256   17  -
675  a  37.33     2.5  u  g   i   h   0.21  f  f   0  f  g  260  246  -
676  a  41.58    1.04  u  g  aa   v  0.665  f  f   0  f  g  240  237  -
677  a  30.58  10.665  u  g   q   h  0.085  f  t  12  t  g  129    3  -
678  b  19.42    7.25  u  g   m   v   0.04  f  t   1  f  g  100    1  -
679  a  17.92   10.21  u  g  ff  ff      0  f  f   0  f  g    0   50  -
680  a  20.08    1.25  u  g   c   v      0  f  f   0  f  g    0    0  -
681  b   19.5    0.29  u  g   k   v   0.29  f  f   0  f  g  280  364  -
682  b  27.83       1  y  p   d   h      3  f  f   0  f  g  176  537  -
683  b  17.08    3.29  u  g   i   v  0.335  f  f   0  t  g  140    2  -
684  b  36.42    0.75  y  p   d   v  0.585  f  f   0  f  g  240    3  -
685  b  40.58    3.29  u  g   m   v    3.5  f  f   0  t  s  400    0  -
686  b  21.08  10.085  y  p   e   h   1.25  f  f   0  f  g  260    0  -
687  a  22.67    0.75  u  g   c   v      2  f  t   2  t  g  200  394  -
688  a  25.25    13.5  y  p  ff  ff      2  f  t   1  t  g  200    1  -
689  b  17.92   0.205  u  g  aa   v   0.04  f  f   0  f  g  280  750  -
690  b     35   3.375  u  g   c   h   8.29  f  f   0  t  g    0    0  -

In [15]:
# Import numpy
import numpy as np

# Inspect missing values in the dataset
print(cc_apps.isnull().values.sum())

# Replace the '?'s with NaN
cc_apps = cc_apps.replace('?', np.nan)

# Inspect the missing values again
print('Total NaN: ' + str(cc_apps.isnull().values.sum()))
print('NaN by column:' '\n')  
print(cc_apps.isnull().sum())
cc_apps.tail(17)

0
Total NaN: 67
NaN by column:

0     12
1     12
2      0
3      6
4      6
5      9
6      9
7      0
8      0
9      0
10     0
11     0
12     0
13    13
14     0
15     0
dtype: int64

      0      1       2  3  4   5   6      7  8  9   10 11 12   13   14 15
674  NaN   29.5       2  y  p   e   h      2  f  f   0  f  g  256   17  -
675    a  37.33     2.5  u  g   i   h   0.21  f  f   0  f  g  260  246  -
676    a  41.58    1.04  u  g  aa   v  0.665  f  f   0  f  g  240  237  -
677    a  30.58  10.665  u  g   q   h  0.085  f  t  12  t  g  129    3  -
678    b  19.42    7.25  u  g   m   v   0.04  f  t   1  f  g  100    1  -
679    a  17.92   10.21  u  g  ff  ff      0  f  f   0  f  g    0   50  -
680    a  20.08    1.25  u  g   c   v      0  f  f   0  f  g    0    0  -
681    b   19.5    0.29  u  g   k   v   0.29  f  f   0  f  g  280  364  -
682    b  27.83       1  y  p   d   h      3  f  f   0  f  g  176  537  -
683    b  17.08    3.29  u  g   i   v  0.335  f  f   0  t  g  140    2  -
684    b  36.42    0.75  y  p   d   v  0.585  f  f   0  f  g  240    3  -
685    b  40.58    3.29  u  g   m   v    3.5  f  f   0  t  s  400    0  -
686    b  21.08  10.085  y  p   e   h   1.25  f  f   0  f  g  260    0  -
687    a  22.67    0.75  u  g   c   v      2  f  t   2  t  g  200  394  -
688    a  25.25    13.5  y  p  ff  ff      2  f  t   1  t  g  200    1  -
689    b  17.92   0.205  u  g  aa   v   0.04  f  f   0  f  g  280  750  -
690    b     35   3.375  u  g   c   h   8.29  f  f   0  t  g    0    0  -

In [16]:
# Impute the missing values with mean imputation
cc_apps.fillna(cc_apps.mean(), inplace=True)

# Count the number of NaNs in the dataset to verify
print('Total NaN: ' + str(cc_apps.isnull().values.sum()))
cc_apps.isnull().sum()

Total NaN: 67

C:\Users\Dell\AppData\Local\Temp/ipykernel_11564/3655076964.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cc_apps.fillna(cc_apps.mean(), inplace=True)

0     12
1     12
2      0
3      6
4      6
5      9
6      9
7      0
8      0
9      0
10     0
11     0
12     0
13    13
14     0
15     0
dtype: int64

In [17]:
# Iterate over each column of cc_apps
for col in cc_apps:
    # Check if the column is of object type
    if cc_apps[col].dtypes == 'object':
        # Impute with the most frequent value
        cc_apps = cc_apps.fillna(cc_apps[col].value_counts().index[0])

# Count the number of NaNs in the dataset and print the counts to verify
print('Total missing values:' + str(cc_apps.isnull().values.sum()))
print('Missing values in each column:')
cc_apps.isnull().sum()

Total missing values:0
Missing values in each column:

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64

In [18]:
# Import LabelEncoder
from sklearn.preprocessing import LabelEncoder
# Instantiate LabelEncoder
le = LabelEncoder()
# Iterate over all the values of each column and extract their dtypes
for col in cc_apps:
    # Compare if the dtype is object
    if cc_apps[col].dtypes =='object':
    # Use LabelEncoder to do the numeric transformation
        le.fit(cc_apps[col])
        cc_apps[col]=le.transform(cc_apps[col])
#  information of the new dataframe
cc_apps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 691 entries, 0 to 690
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       691 non-null    int32
 1   1       691 non-null    int32
 2   2       691 non-null    int32
 3   3       691 non-null    int32
 4   4       691 non-null    int32
 5   5       691 non-null    int32
 6   6       691 non-null    int32
 7   7       691 non-null    int32
 8   8       691 non-null    int32
 9   9       691 non-null    int32
 10  10      691 non-null    int32
 11  11      691 non-null    int32
 12  12      691 non-null    int32
 13  13      691 non-null    int32
 14  14      691 non-null    int32
 15  15      691 non-null    int32
dtypes: int32(16)
memory usage: 43.3 KB

In [ ]:
# Import train_test_split
from sklearn.model_selection import train_test_split

# Drop the features 11 and 13 and convert the DataFrame to a NumPy array
cc_apps = cc_apps.drop([11, 13], axis=1)
print(cc_apps.head())
cc_apps = cc_apps.values

# Segregate features and labels into separate variables
X,y = cc_apps[:,0:12] , cc_apps[:,13]

# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X,
                                y,
                                test_size=0.33,
                                random_state=42)

In [ ]:
# Import MinMaxScaler
from sklearn.preprocessing import MinMaxScaler

# Instantiate MinMaxScaler and use it to rescale X_train and X_test
scaler = MinMaxScaler(feature_range=(0, 1))
rescaledX_train = scaler.fit_transform(X_train)
rescaledX_test = scaler.fit_transform(X_test)

In [27]:
# Import LogisticRegression
from sklearn.linear_model import LogisticRegression
# Instantiate a LogisticRegression classifier with default parameter values
logreg = LogisticRegression()

# Fit logreg to the train set
logreg.fit(rescaledX_train, y_train)

LogisticRegression()

In [28]:
# Import confusion_matrix
from sklearn.metrics import confusion_matrix
# Use logreg to predict instances from the test set and store it
y_pred = logreg.predict(rescaledX_test)

# Get the accuracy score of logreg model and print it
print("Accuracy of logistic regression classifier: ", logreg.score(rescaledX_test, y_test))

# Print the confusion matrix of the logreg model
print('Confusion matrix: \n ', confusion_matrix(y_test, y_pred))

Accuracy of logistic regression classifier:  0.8165938864628821
Confusion matrix:
  [[ 86  17]
 [ 25 101]]

In [29]:
# Import GridSearchCV
from sklearn.model_selection import GridSearchCV
# Define the grid of values for tol and max_iter
tol = [0.01, 0.001, 0.0001]
max_iter = [100, 150, 200]

# Create a dictionary where tol and max_iter are keys and the lists of their values are corresponding values
param_grid = dict(tol= tol, max_iter= max_iter)

In [30]:
# Instantiate GridSearchCV with the required parameters
grid_model = GridSearchCV(estimator=logreg, param_grid=param_grid, cv=5)

# Use scaler to rescale X and assign it to rescaledX
rescaledX = scaler.fit_transform(X)

# Fit data to grid_model
grid_model_result = grid_model.fit(rescaledX, y)

# Summarize results
best_score, best_params = grid_model_result.best_score_, grid_model_result.best_params_
print("Best: %f using %s" % (best_score, best_params))

C:\Users\Dell\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:666: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(("The least populated class in y has only %d"

Best: 0.844020 using {'max_iter': 100, 'tol': 0.01}